@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap");

body {
  padding: 10px;
  margin: auto;
}

.guess {
  margin: 5px;
  width: 50px;
  height: 50px;
  caret-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #808080;
  font-size: 25px;
}

.heading {
  font-family: "Cuprum";
  text-align: center;
  display: inline;
  margin: 45%;
}

#hiddenTile {
  height: 0px;
  width: 0px;
  border: 0px white;
}

table {
  margin: auto;
}

input[type="text"][disabled] {
  background: inherit;
}

.right {
  background-color: #538d4e !important;
  border: none;
  color: white;
}

.wrong {
  background-color: #939598 !important;
  border: none;
  color: white;
}

.exists {
  background-color: #c9b458 !important;
  border: none;
  color: white;
}

input:focus {
  border: 5px solid black;
  border: none;
  color: white;
}

.message {
  max-width: 300px;
  width: fit-content;
  margin: auto;
}

.letter {
  border: none;
  background-color: #c9c9c9;
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 5px;
}

.enter,
.delete {
  width: 75px;
  border: none;
  background-color: #c9c9c9;
  height: 45px;
  margin: 5px;
  border-radius: 5px;
}

.rowCenter {
  margin-left: 20px;
}

.keyboard {
  text-align: center;
}

@media only screen and (max-width: 625px) {
  .letter {
    width: 7.75%;
    margin: 2px !important;
  }

  .enter,
  .delete {
    width: 13%;
  }

  body {
    padding: 0px;
    padding-top: 10px;
  }
}

#textMessage {
  display: none;
}

#hiddenTile:focus,
#hiddenTile {
  border: none;
  background-color: inherit;
}

#form {
  margin: auto;
  border-color: #818181;
}

#header {
  border-bottom: 1px solid black;
  width: 100%;
}

.guess {
  overflow: hidden;
  transition-duration: 3s;
  transition-property: transform;
}

.flip {
  transform: rotateX(360deg);
}

.speacialFlip {
  transform: rotate3d(360, 0, 360, 360deg);
}

.headerIcon {
  background-color: red;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: white;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  float: left;
  box-shadow: 0px 0px 0px 0px white;
}

#clues,
#singleClue {
  margin: auto;
}

#play {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid red;
}